/* Bet in Main-Board */
#bet {
    height: 67vh;
    width: 20%;
    margin: 10px;
    border: 2px solid red;
}

#bet > #div1 {
    /* margin: 0; */
    height: 30vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4 {
    font-size: 20px;
    margin: 10px;
}

#bet > #div1 > label {
    margin: 0;
}

#bet > #div1 > #amount {
    height: 6vh;
    width: 25vh;
    border: 1px solid red;
    margin-top: 10px;
}

#bet > #div1 > #bet_amount {
    height: 6vh;
    width: 25vh;
    border: 1px solid red;
    margin-top: 10px;
}

#bet > #div2 {
    height: 15vh;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#bet > #div2 > .bet_btn {
    height: 5vh;
    width: 10vh;
}

#bet > #div3 {
    height: 20vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bet > #div3 > #clear {
    height: 6vh;
    width: 25vh;
}

#bet > #div3 > #earned_amount {
    height: 6vh;
    width: 25vh;
    border: 1px solid red;
    margin-top: 5px;
    margin-bottom: 5px;
}

#bet > #div3 > label {
    margin: 0;
}



