* {
    margin: 0;
}

/* Body */
body {
    background-color: antiquewhite;
}

/* h1 */
h1 {
    text-align: center;
    margin: 20px;;
}

/* h3 */
h3 {
    text-align: center;
    margin: 10px;
}

/* Main Board */
#main-board {
    height: 70vh;
    border: 2px solid black;
    width: 98%;
    background-color: aqua;
    margin: 10px;
    display: flex;
}

#bet {
    height: 67vh;
    background-color: burlywood;
    width: 20%;
    border: 2px solid black;
    margin: 10px;
}

#table {
    height: 67vh;
    background-color: burlywood;
    width: 80%;
    border: 2px solid black;
    margin: 10px;
}

/* Secondary board */
#secondary-board {
    height: 15vh;
    border: 2px solid black;
    width: 98%;
    background-color: aqua;
    margin: 10px;
    display: flex;
}

/* DIV ID: Buttons */
#buttons {
    height: 13vh;
    background-color: burlywood;
    width: 20%;
    border: 2px solid black;
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#play {
    height: 5vh;
    width: 15vh;
    font-size: 20px;
    margin-bottom: 5px;
}

#reset {
    height: 5vh;
    width: 15vh;
    font-size: 20px;
    margin-top: 5px;
}

/* DIV ID: Display */
#display {
    height: 13vh;
    background-color: burlywood;
    width: 82%;
    border: 2px solid black;
    margin: 7px;
}